[project]
	description = Echo Conversations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Valeriy Shkiryak (vlizard)
[access "refs/for/refs/*"]
	read = group user/Valeriy Shkiryak (vlizard)
	push = group user/Valeriy Shkiryak (vlizard)
	label-Code-Review = -2..+2 group user/Valeriy Shkiryak (vlizard)
	label-Verified = -1..+1 group user/Valeriy Shkiryak (vlizard)
	rebase = group user/Valeriy Shkiryak (vlizard)
	removeReviewer = group user/Valeriy Shkiryak (vlizard)
	submit = group user/Valeriy Shkiryak (vlizard)
[access "refs/heads/*"]
	read = group user/Valeriy Shkiryak (vlizard)
	create = group user/Valeriy Shkiryak (vlizard)
	push = +force group user/Valeriy Shkiryak (vlizard)
	pushMerge = group user/Valeriy Shkiryak (vlizard)
[access "refs/tags/*"]
	push = +force group user/Valeriy Shkiryak (vlizard)
	pushTag = group user/Valeriy Shkiryak (vlizard)
	pushSignedTag = group user/Valeriy Shkiryak (vlizard)
